<div class="menu-sidebar-content">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li *ngFor="let tempCategory of productCategories"
          class="nav-item"
          [title]="tempCategory.categoryName">
        <a [routerLink]="['/category', tempCategory.id]"
           routerLinkActive="active-link"
           class="nav-link d-flex align-items-center"
           [attr.aria-label]="'View ' + tempCategory.categoryName">
          <i class="fa fa-tag me-2"></i>
          <span class="category-name">{{tempCategory.categoryName}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
